.text {

  font-family: Arial;
  text-align: center;
  min-width: 300px;
  max-width: 900px;
  min-height: 30px;
  max-height: 1000px;
  margin: auto;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
  overflow-y: auto;
}
  
h1 {
  text-align: center;
  align-items: center;
  font-family: Arial;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
  width: 50%;

}

#homeLink {
  font-size: 18px
  border: 1px solid;
  border-radius: 3px;
  margin: auto;
  
}

#aboutLink {
  font-size: 18px
  border: 1px solid;
  border-radius: 3px;
  margin: auto;
  
}


* {
  
  background: LightGray;
  
}

h1:hover {
  background-color: LightGray;
}

html {
  align-items: center;
}

