.text {

  font-family: Arial;
  text-align: center;
  min-width: 300px;
  max-width: 900px;
  min-height: 30px;
  max-height: 1000px;
  margin: auto;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
}

.navBar {
  margin: 0px;
  border: 1px solid;
}

.menuItem {
  text-align: center;
}

.navBar:hover {
  background: Blue;
}
  
h1 {
  text-align: center;
  font-family: Arial;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
  width: 250px;

}

* {
  
  background: LightGray;
  
}

#homeHeader {
  
  
}

h1:hover {
  background-color: LightGray;
}

