#homeText {

  font-family: Arial;
  text-align: center;
  min-width: 300px;
  max-width: 900px;
  min-height: 30px;
  max-height: 1000px;
  margin: auto;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
  overflow-y: auto;
  font-size: 150%
}
  
h1 {
  text-align: center;
  align-items: center;
  font-family: Arial;
  border: 1px solid Black;
  border-radius: 4px;
  background-color: White;
  width: 50%;
  margin: auto;
  font-size: 100%;

}

#homeHeaderUl {
  padding-left: 30px;
}

#aboutHeaderUl {
  padding-left: 30px;
}

body {
  
  background: LightGray;
  
}

h1:hover {
  background-color: LightGray;
}

html {
  align-items: center;
}

.homeText {
  background: White;
}

.navItem {
  width: 10%;
  height: 7%;
  background: White;
  border: 1px solid;
  border-color: rgb(0,0,0);
  border-radius: 2%;
  display: inline;
  padding-left: .5%;
  padding-right: .5%;
}
.navItem a {
  background: White;
}

.navItem a:hover {
  background: Grey;
  color: White;
}

